:root {
  --primary-color: antiquewhite;
}

.App {
  font-family: "monospace";
  color: var(--primary-color);
  width: 750px;
  margin: 0 auto;
}
.container {
  background-image: url("Sky.jpg");
  background-size: 100%;
  margin: 60px auto 0;
  padding: 40px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .container {
    background-image: none;
    background-color: rgb(16, 43, 95);
    margin: auto;
  }
  .App {
    width: auto;
  }
}
